@import url("https://fonts.googleapis.com/css?family=Courgette|Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&display=swap");

.infoBox {
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 7px solid black;
  border-radius: 1%/1%;
  border-style: groove;
  box-shadow: 10px 10px 10px rgb(31, 29, 29);
  font-family: "Arima Madurai", cursive;
  text-shadow: 3px 3px 5px #2c2128b4;
}

#bodyBox {
  background: -webkit-linear-gradient(rgb(3, 235, 243) 30%, #ad0472f3);
  box-shadow: 10px 10px 10px rgb(24, 23, 23);
}

#bodyBox2 {
  background: -webkit-linear-gradient(rgb(3, 235, 243), #ad0472f3);
  color: white;
  text-shadow: 3px 3px 5px #ad0472f3;
}

#bodyBox3 {
  background: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.87) 10%,
    #b90a7cc2,
    #9df5ccd0
  );
  font-size: 20px;
}

#bodydivpic {
  border-radius: 55%;
  border: 5px solid #9df5cc;
  background: -webkit-linear-gradient(left top, #610241 20%, #f1069f 100%);
  padding: 10px;
  border-image-slice: 1 fill;
  width: 300px;
  height: 300px;
  margin: 10px;
}

.carousel {
  border-radius: 2%;
  background-color: black;
  max-width: 640px;
  width: auto;
  position: relative;
  border: 13px solid;
  border-style: inset;
  border-color: rgb(80, 80, 80);
  box-shadow: 5px 5px 10px black;
  box-sizing: border-box;
  max-height: 650px;
}

/* Carousel Images */
.carousel-item > img {
  width: 100%;
  height: auto;
}

/* Carousel Icons */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-color: #610241;
  background-size: 50%, 50%;
  border-radius: 50%;
  border: 2px solid #9df5cc;
}

/* Carousel Icons */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-color: #610241;
  background-size: 50%, 50%;
  border-radius: 50%;
  border: 2px solid #9df5cc;
}

.capText {
  font-weight: bold;
  color: #9df5cc;
  font-size: 18px;
  text-shadow: 2px 2px 2px #f1069f;
}

/* Navbar Button */
/* body
  > div:nth-child(10)
  > div
  > div.modal.fade.show
  > div
  > div
  > div.modal-header
  > button
  > span {
  color: #9df5cc;
} */
/* Nav Social Buton */
#root > div > div > nav > button {
  border: 1px solid #9df5cc;
  border-style: groove;
  box-shadow: 2px 3px 3px gray;
  border-radius: 6%;
  background-color: lightgreen;
  background-color: #f1069f;
}

#navButton {
  font-weight: bold;
  font-size: 18px;
  box-shadow: 4px 4px 5px lightgreen;
  text-shadow: 2px 2px 2px black;
  margin: 10px;
  border: 1px solid black;
  border-style: outset;
  border-radius: 5%;
  background-image: linear-gradient(
    45deg,
    rgb(3, 235, 243),
    rgb(3, 235, 243),
    #ad0472f3,
    #ad0472f3,
    #ad0472f3,
    rgb(3, 235, 243),
    rgb(3, 235, 243)
  );
  background-size: 600% 100%;
  animation-direction: alternate;
  animation: gradient 16s linear infinite;
  display: block;
}

#dropIG {
  color: white;
  background: -webkit-linear-gradient(
    left top,
    #8a3ab9,
    #e95950,
    #bc2a8d,
    #cd486b,
    #4c68d7
  );
}

@media only screen and (max-width: 780px) {
  #goneText {
    display: none;
  }
}

.jumbotron {
  margin: 0;
  width: 100%;
  /* background-image: url('./images/butterfly1.jpg'); */
  background-image: linear-gradient(
    45deg,
    #3d0129,
    #3d0129,
    #3d0129,
    #3d0129,
    #3d0129,
    #9df5cc,
    #9df5cc,
    #9df5cc,
    #9df5cc,
    grey,
    #3d0129,
    #3d0129,
    #3d0129,
    #3d0129
  );
  background-size: 600% 100%;
  animation-direction: alternate;
  animation: gradient 16s linear infinite;
  display: block;
}
body {
  background-image: linear-gradient(
    45deg,
    #3d0129,
    #3d0129,
    #3d0129,
    #3d0129,
    #3d0129,
    #9df5cc,
    #9df5cc,
    #9df5cc,
    #9df5cc,
    grey,
    #3d0129,
    #3d0129,
    #3d0129,
    #3d0129
  );
  background-size: 600% 100%;
  animation-direction: alternate;
  animation: gradient 16s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

#modalbody {
  color: #9df5cc;
  background-image: linear-gradient(to bottom, #610241, #f1069f, #610241);
}

.navbar {
  color: #9df5cc;
  text-shadow: 2px 2px 2px #f1069f;
  background-image: linear-gradient(black, black, black);
  border-bottom: 7px solid #7a0252;
  font-family: "Courgette", sans-serif;
  font-size: 20px;
  flex-direction: row;
  white-space: nowrap;
  text-shadow: 2px 2px 2px #f1069f;
}

/* Hover Glow */
.glow :hover {
  color: rgba(255, 255, 255, 0.856);
  /* text-align: center; */
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#socialIcon {
  background: #007aff;
  color: white;
  padding: 11px;
  border-radius: 50%;
  text-shadow: 2px 2px 2px #f1069f;
}

/* <Table> */
#prices {
  font-family: "Manrope";
}
table {
  width: auto;
}

#tableD {
  text-align: center;
}

#rowTitle {
  color: #9df5cc;
  font-weight: bold;
  text-shadow: 2px 2px 2px #f1069f;
}

#thumbnailPic {
  max-width: 180px;
  max-height: 180px;
  /* border-radius: 55%; */
}
/* </Table> */

.site-footer {
  border-top: 7px solid #610241;
  background-image: linear-gradient(black, black, black);
  padding: 20px;
  font-family: "Arima Madurai", cursive;
  font-weight: bold;
}

/*dark purple #510036, light pink #f1069f, light green #9df5cc*/
/* https://api.instagram.com/oauth/authorize
  ?client_id=2662938407255430
  &redirect_uri=https://pbmacrylics.netlify.app/home
  &scope=user_profile,user_media
  &response_type=code */

/* "access_token": "IGQVJXV2JpTHd5ZADdkUjRWYW5NQXFaYWxVUmxZAcnVJOEV6TXJXd08wS2JJbS1JQTlmWnhvRjFpNmpUektseTFOY29MUjF1RDZAWb0V0ZA3FPZAFFibmowRW11UmFySTNrbEJ6YzRFVExJbGt5LXpVV1BnSHhHcWVsRHFQTzJr", 
  "user_id": 17841401808795861 */
/* 
  curl -X GET \
  'https://graph.instagram.com/17841401808795861?fields=id,username&access_token=IGQVJXV2JpTHd5ZADdkUjRWYW5NQXFaYWxVUmxZAcnVJOEV6TXJXd08wS2JJbS1JQTlmWnhvRjFpNmpUektseTFOY29MUjF1RDZAWb0V0ZA3FPZAFFibmowRW11UmFySTNrbEJ6YzRFVExJbGt5LXpVV1BnSHhHcWVsRHFQTzJr' */

/* https://instagram.com/oauth/authorize/?client_id=291811261930071&redirect_uri=http://instafeedjs.com&response_type=token */
