body {
  background-color: black;
  text-shadow: 4px 4px 4px #aaa;
}


.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #680146, #60106B, #60106B,#f1069f);
  color: white;
  display: block;
}

.navbar {
  background-color: #9df5cc;
  height: 35px;
  border-color: white;
  border-width: 10px;
}

/*dark purple #510036, light pink #f1069f, light green #9df5cc*/