@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap&effect=anaglyph');
@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script&display=swap');

body {
  background-color: black;
  text-shadow: 2px 2px 2px #aaa; 
}

.jumbotron {
  margin: 0;
  background-image: linear-gradient(to right, #680146, #60106B,#f1069f);
  color: whitesmoke;
  display: block;
  font-weight: bold;
  font-family: 'Courgette', cursive;
}

.navbar {
  background-color: #9df5cc;
  border-color: white;
  font-family:'Dancing Script', cursive, 'font-effect-anaglyph';
  font-size: 25px;
}

.carousel {
  width: 450px; 
}

#carouselborder {
  /* outline: 10px solid #74014d; */
  margin: auto;
  position: relative;
  
  border: 10px solid;
  border-image-source: linear-gradient(45deg, #680146, #f1069f, #60106B);
  border-image-slice: 1;
}

#cardnmap {
  font-size: large;
  font-weight: bold;
  color: #9df5cc;
  font-family: 'Courgette', cursive;
  background-color: purple;
  border-width: 10px;
  outline: 10px solid #9df5ccda;
  width: 25rem;
  margin: auto;
}

#modalbody {
  color: #9df5cc;
  background-image: linear-gradient(to bottom, #f1069f, purple, #f1069f);
}

.heightpic {
  height: auto;
  width: 110%;
}
#cardpic{
  height: 275px;
}
.cardprice {
  margin-left: 25px;
  width: 450px;
  background-color: "black" ;
  outline: 10px solid #9df5ccda;
  font-family: 'Courgette', cursive;
  font-size: 22px;
  background-color: black;
  color: #9df5ccda;
}
/* .accordian {
background-color: black;
} */

/* .accordiancard {
  font-size: large;
  font-weight: bold;
  width: '45px';
  font-family: 'Courgette', cursive;
  margin-left: auto;
} */

/* .accordianback {
  background-image: linear-gradient(to right, #680146, #60106B, #60106B,#f1069f);
} */
/*dark purple #510036, light pink #f1069f, light green #9df5cc*/

